name: Auto Update README

permissions:
  contents: write   # <-- important

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update README Date
        run: |
          current_date=$(date '+%Y-%m-%d %H:%M:%S %Z')
          sed -i "s/{{date}}/$current_date/g" README.md || true

      - name: Commit and Push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "README updated at $(date -u '+%Y-%m-%d %H:%M:%S UTC')" || exit 0
          git push
